@import "compass/reset";
@import "960/grid";

@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

$blue_color: #115980;
$black_color: #262626;
$white_color: #F3F3F3;

$font_family_light: "Arial", "Helvetica", sans-serif;
$font_family_heavy: "Arial Black", "Helvetica Bold", sans-serif;
