/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 @import "base";

 $ninesixty-columns: 12;
 $ninesixty-grid-width: 960px;
 $ninesixty-gutter-width: 20px;


 /** ======================================== **/
 /**             Base Style                   **/
 /** ======================================== **/

 body {
  background: $black_color;
}

.wrapper {
  @include grid_container;
  margin: 25px auto;
}

.span-1 {
  @include grid(1);
}

.span-2 {
  @include grid(2);
}

.span-4 {
  @include grid(4);
}

.span-6 {
  @include grid(6);
}

.row {
  @include clearfix;
}

.empty {
  height: 1px;
}

.empty-25 {
  height: 25px;
}

.alpha {
  @include alpha;
}

.omega {
  @include omega;
}

.hidden {
  display: none;
}

/** ======================================== **/
/**         Component Style                  **/
/** ======================================== **/
.main-section {
  margin-top: 30px;
}

.search-field {
  @include border-radius(2px);
  background: #F3F3F3;
  font-family: $font_family_light;
  font-size: 18px;


    //Remove default style
    border: none;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
  }

  .video-container {
    background: $white_color;
	height: 200px;
  }

  .play-controls {
    margin-top: 10px;
  }

  .control {
    @include transition(all ease-in 0.2s);
    @include border-radius(2px);
    background: $blue_color;
    height: 60px;
    &:hover {
      background: lighten($blue_color, 20%);
    }

    cursor: pointer;
  }

  .search-results {
   	overflow-y: scroll;
    height: 410px;
  }

  .search-result {
    @include alpha;
    @include omega;
    @include transition(background linear 0.1s);

    background: $white_color;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 5px;
    cursor: pointer;

    & .thumbnail {
      height: 50px;
      background: darken($white_color, 20%);
    }

    & .title {
      color: $blue_color;
      font-family: $font_family_heavy;
    }

    &:hover {
      background: lighten($blue_color, 50%);
    }
  }



  /** Icons **/
  @font-face {
    font-family: 'blue-tube';
    src: url('../font/blue-tube.eot?32118566');
    src: url('../font/blue-tube.eot?32118566#iefix') format('embedded-opentype'),
    url('../font/blue-tube.woff?32118566') format('woff'),
    url('../font/blue-tube.ttf?32118566') format('truetype'),
    url('../font/blue-tube.svg?32118566#blue-tube') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'blue-tube';
    src: url('../font/blue-tube.svg?32118566#blue-tube') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "blue-tube";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 46px;
  margin-right: 6px;
  text-align: center;
  font-variant: normal;
  font-size: 40px;
  font-smooth: always;
  text-transform: none;

  line-height: 60px;


  margin-left: 8px;

  color: $white_color;
}

.icon-pause:before { content: '\e802'; }
.icon-fast-fw:before { content: '\e803'; }
.icon-fast-bw:before { content: '\e804'; }
.icon-stop:before { content: '\e801'; }
.icon-play:before { content: '\e800'; }
.icon-arrows-cw {
  &:before {
    content: '\e805';
    color: $black_color;
  }

    &.on-state:before {
    color: $white_color;
  }
}
.icon-shuffle {
  &:before {
    content: '\e806';
    color: $black_color;
  }

  &.on-state:before {
    color: $white_color;
  }
}
