<div id="chat-nick">
	<input id="chat-nick-input" class="search-field" placeholder="Message"/>
	<a id="chat-nick-submit" class="icon-button">Send</a>
</div>


<div id="chat-toggle" style="display:none">
	<div id="chat-entries">
	
	</div>
	<div id="chat-controls">
        <input id="message-input" class="search-field" placeholder="Message"/>
		<a id="message-send" class="icon-button">Send</a>
	</div>
</div> 
