<div id="overlay-wrapper" style="display:none">
	<p> 
		Youdify is a web-based application where all users are anonymous, it allows users to share their favorite youtube videos in an interactive environment. In many cases, youtube playlists are very limited and hard to maintain when many people want to contribute, this is very unfortunate.
	</p>
	
	<p>
		Youdify specifies its usage around collective playlists and try to solve the limitations of normal youtube playlists, if you are throwing an event you can ask people to add videos. Maybe you want to hear some smooth old jazz but have no clue what to search for, or if you and your classmates want some place to put some nice videos showing how to solve differential equations. 
	</p>

	<p>
		When creating a playlist you must specify a password for it, anyone with the password may delete videos and configure its settings.
		By locking a playlist no one except the authenticated user may add videos to it. If not authenticated you may hide a video, the video will not be played but if you refresh the playlist, the video will still be there. You must be authenticated to completely delete a video from the playlist.
	</p>

	<p>
		Freetags allow you include the playlist in a collection of others. This can be either for your own sake to have the same freetag for all
		your private playlists. Or to include it in some public collection to contribute to it.
	</p>

	<p>
		Once you are in a playlist most of its functionality it pretty straight forward. The button "Add all new to queue" however may be a little tricky. By selecting it, all new videos will show up not only in your playlist but also in your queue and hence be played, this can be handy if you want to have many people playing videos on the same computer from other devices. If Autoplay is off the new videos will be played and then player will stop playing. As long as autoplay is on, the player will keep playing even if the queue is empty.
	</p>

	<p>
		The "Direct play" option allows you to play and queue videos without being in a playlist, you may sort out videos in the field under the search field (this also goes when adding new videos to a playlist), this may be handy if you want to play only videos that has something in their title or if you want to find a specific video among any results.
</div> 
