		<form id="create-new-playlist-div" class="edit-playlist grid-4" style="display:none">
						<input class="grid-3 omega search-field" placeholder="Playlist name" id="pname"/>
              			<h3 class="text-center grid-3 white-text"> 
							This allows you to remove videos, lock, unlock and edit name and description of the playlist.
							Please set a password you remember.
						</h3>	
						<input class="grid-3 omega search-field" placeholder="Password" id="ppassword"/>
						<input class="grid-3 omega search-field" placeholder="Description..." id="pdescription"/>
						<select id="tag-select" class="search-field grid-3">
						  <option id="music" selected="selected">Music</option>
						  <option id="knowledge">Knowledge</option>
						  <option id="movies">Movies</option>
						  <option id="comedy">For the lulz</option>
						  <option id="other">Other</option>
						</select>	
              			<h3 class="text-center grid-3 white-text"> 
							Freetags allow you to later find a collection of playlists by searching for the freetag
						</h3>	
						<input class="grid-3 omega search-field" placeholder="Freetag" id="pfreetag"/>
						<a class="icon-button grid-2 omega" id="submit">Submit</a>
					</form>

