            <div id="player"></div>  
            <div id="player-actions">
              <div class="playback-ctrl-wrap">
                <a class="icon-button fontawesome-fast-backward playback-ctrl" id="prev" href="#"> </a>
              </div>
              <div class="playback-ctrl-wrap">
                <a class="icon-button fontawesome-play playback-ctrl" id="play" href="#"></a>
              </div>
              <div class="playback-ctrl-wrap">
                <a class="icon-button fontawesome-random playback-ctrl" id="shuffle" href="#"></a>
              </div>
              <div class="playback-ctrl-wrap">
                <a class="icon-button fontawesome-repeat playback-ctrl" id="repeat" href="#"></a>
              </div>
              <div class="playback-ctrl-wrap">
                <a class="icon-button fontawesome-play-circle playback-ctrl active" id="autoplay" href="#"></a>
              </div>
              <div class="playback-ctrl-wrap">
                <a class="icon-button fontawesome-fast-forward playback-ctrl" id="next" href="#"> </a>
              </div>
            </div>
