<div id="playlist-attributes" class="grid-4 omega" style="float:right">
	<a id="number-of-videos" class="fontawesome-music grid-1" style="color:green">(<%= videos %>) </a>
	<a id="number-of-users" class="fontawesome-user grid-1" style="color:blue">(1) </a>
	<%if (locked=="true")  {%> <a class="fontawesome-lock" style="color:yellow">(locked) </a><%}%>
	<%if (locked=="false") {%> <a class="fontawesome-unlock" style="color:#C7D800">(unlocked) </a><%}%>
</div>
