<div class="video" id="video-tempelate" style="display:none">
	<div class="grid-1">
		<img class="thumb grid-1"></img>
		<a class="fontawesome-angle-down toggle-video-options icon-button grid-1"></a>
		<div class="grid-2 omega video-options" style="display:none">
			<a class="options add-last-to-queue">Queue last</a>
			<a class="options add-first-to-queue">Queue first</a>
			<a class="options hide-video">Remove</a>
		</div>
	</div>
	<h3 class="title grid-4"></h3>
	<div class="subtitle"></div>
</div>
