<%- include partials/header.ejs %>
<script src="/DirectPlay.js"></script>
	<body>
    <div id="overlay-background"></div>
    <div id="main-wrapper">
      <div id="inner-wrapper">
		<div class="fixed-top">
          <header id="main-header" class="grid-container">
			<title> Youdify, share your playlists </title>
			<meta name="description" content="Youdify is a place where everyone is anonymous and share their favorite youtube videos!"/>
    		<div class="message text-center grid-12" id="navigation-board">
				<a id="home" class="grid-4 fontawesome-home alpha" > Home</a>
				<a id="show-queue" style="display:none" href="#" class="grid-2" ></a>
				<div id="show-chat"  style="display:none" href="#" class="grid-2">
				<a href="#">Chat </a>
				<a id="new-message" href="#" class="fontawesome-envelope" style="display:none;color:red"></a>
				</div>
				<div style="display:none" id="queue-toggle">
          			<a id="empty-queue" class="fontawesome-trash options"></a>
				</div>
			</div>
			<br>
			  <img class="grid-4" src="/images/Youdify-logo.png"></img>
            </div>
          </header>
        </div>

        <div id="main-content" class="grid-container">
          <div id="main-sidebar" class="grid-4">
			<div id="player-container" class="sidebar-component">
          <input class="grid-4 alpha search-field" placeholder="Search" id="search"/>
			<input id="search-option" type="radio" name="search-type" checked/><span style="color:white">Video search</span>
			<input type="radio" name="search-type"/><span style="color:white">Playlist search</span>

          <input class="grid-4 alpha search-field" placeholder="Sort among the results" id="constraints"/>
				<%- include partials/player.ejs %>
			</div>
          </div>
          <div class="grid-8 push-4">
            <div id="video-list"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="message text-center" id="message-board"></div>
	</body>
	<%- include partials/videoElement.ejs %>
</html>
