<%- include partials/header.ejs %>
<script src="/FirstpageScript.js"></script>

	<body>
		<div id="main-wrapper">
      <div id="inner-wrapper">
        <div class="fixed-top">
          <header id="main-header" class="grid-container">
			<div class="message text-center" id="navigation-board">
				<a id="home" href="/" class="grid-4 fontawesome-home sort"> Home</a>
				<a id="create-playlist" class="grid-2 sort fontawesome-file"> New playlist</a>
				<a id="direct-play" href="/redirector/" class="grid-4 sort fontawesome-bolt"> Direct play</a>
				<a id="halp" class="grid-2 fontawesome-question-sign sort"> Halp</a>
			</div>
			  	<img id="logo" class="grid-5 alpha" src="images/Youdify-logo.png" style="display:none"></img>
				<input id="search-playlists" class="omega search-field grid-4 omega" 
				style="float:right;margin-top:25px" placeholder="Search, add # for freetags"/>
			  <%- include partials/newPlaylist.ejs %>				
          </header>
        </div>
        <div class="grid-container" id="main-content">
          <div class="grid-4" id="main-sidebar">
          </div>
			  <a id="new" class="icon-button grid-2 request-button">Recent</a>
              <a id="viewed" class="icon-button grid-3 request-button">Most viewed</a>
			  <a id="visits" class="icon-button grid-3 request-button">Last visited</a>
			  <a id="active" class="icon-button grid-2 request-button" style="display:none">Active now</a>
			  <a id="mine" class="icon-button grid-2 request-button">Mine</a>
          <div class="grid-12">
			<a class="head-results list-item"> 
        <div class="grid-3 alpha">
          <span id="sort-category-1" class="name"> Name </span>
        </div>
        <div class="grid-3">
          <span class="description"> Description </span>
        </div>
        <div class="grid-2">
          <span class="category"> Category </span>
        </div>
        <div class="grid-2">
          <span class="freetag"> Freetag </span>
        </div>
        <div class="grid-2 omega">
          <span class="videos"> Videos </span>
        </div>
			</a><br>
			<div id="search-results"></div>
          </div>
        </div>
      </div>
	</div>
  <div class="message text-center" id="message-board"></div>
	</body>
 </html>
