<!DOCTYPE HTMl>
<html>
	<head>
		<link rel="stylesheet" href="stylesheets/styles.css"/>
		<script src="vendor/javascripts/jQuery-2.0.3.js"></script>
		<script src="javascripts/index.js"></script>
		<script src="javascripts/YoutubePlayer.js"></script>
		<script src="javascripts/VideoController.js"></script>
		<script src="javascripts/SearchMachine.js"></script>
		<script src="javascripts/PlaylistHandler.js"></script>
		<script src="javascripts/MessageBoard.js"></script>
	</head>
	<body>
		<input type="hidden" id="host-div" value="<%=host %>"/>
		<input type="hidden" id="port-div" value="<%=port %>"/>
		<div id="wrapper">
			<div id="search-fields">
				<button id="create-playlist" class="playlist-handlers">Create new playlist</button>
				<button id="attach-playlist" class="playlist-handlers">Attach existing playlist</button>
				<button id="attached-playlist" class="playlist-handlers"></button>
				<input class="search-field" placeholder="Search" id="search"/>
				<input class="search-field" placeholder="Constraints" id="constraints"/>
			</div>
			<div id="search-results"></div>
		</div>
		<div id="player-actions">
			<div id="previous"></div>
				<div id="player-container" align="center">
					<div id="player"></div>	
					<img class="next-prev" id="prev" src="images/prev.png"></img>
					<button class="controllers" id="play">play</button>
					<button class="controllers" id="shuffle">shuffle</button>
					<button class="controllers" id="repeat">repeat one</button>
					<button class="autoplay" id="autoplay">autoplay</button>
					<img class="next-prev" id="next" src="images/next.png"></img>
					<div class="message" id="message-board"</div>
					<img id="pause"></img>
				</div>
			<div id="queue"></div>
		</div>
	
	</body>
</html>
