      <div id="overlay-inner-wrapper">
        <div>
          <header id="main-header" class="grid-container">
            gone
          </header>
        </div>
        <div class="grid-container" id="">
          <div class="grid-4" id="main-sidebar">
            <div class="playlist-ctrls sidebar-component">
              <a class="icon-button fontawesome-file grid-2 alpha playlist-handlers" id="create-playlist"></a>
              <a class="icon-button fontawesome-paper-clip grid-2 omega playlist-handlers" id="attach-playlist"></a>
              <a class="icon-button block playlist-handlers" id="attached-playlist" ></a>
            </div>
            <div class="search-area sidebar-component">
              <input class="grid-2 alpha search-field" placeholder="Search" id="search"/>
              <input class="grid-2 omega search-field" placeholder="Constraints" id="constraints"/>
            </div>
            <div id="player-container" class="sidebar-component">
              <%- include partials/player.ejs %>
            </div>
          </div>
          <div class="grid-8 push-4">
            <div id="search-results"></div>
          </div>
        </div>
      </div>
