<%- include partials/header.ejs %>
<script src="/javascripts/localPlaylist/LocalFeatures.js"></script>
<script src="/javascripts/localPlaylist/SearchMachine.js"></script>
<script src="/javascripts/localPlaylist/PlaylistHandler.js"></script>
<script src="/javascripts/localPlaylist/index.js"></script>        

  <div id="overlay-inner-wrapper">
	<input type="hidden" id="name-div" value="<%=name %>"/>

    <div class="grid-container"> 
      <div id="overlay-sidebar">
        <div class="search-area sidebar-component">
          <input class="grid-2 alpha search-field" placeholder="Search" id="search"/>
			<form action="">
				<input id="search-option" type="radio" name="search-type" checked>Video search
				<input type="radio" name="search-type">Playlist search
			</form><br>

          <input class="grid-2 omega search-field" placeholder="Constraints" id="constraints"/>
        </div>
        <div id="overlay-player-container" class="sidebar-component">
       		<div id="player"></div><br> 
            <button id="close-add-video">Back to playlist </button>
		</div>
      </div>
      <div id="overlay-search-results"></div>
    </div>
  </div>
