<!DOCTYPE HTMl>
<html>
	<head>
		<script src="/javascripts/playlist.js"></script>	
		<script src="/socket.io/socket.io.js"></script>	
	</head>
	<body>
		<div id="content"></div>
		<input type="input" id="input"></input>	
		<input type="button" id="send"></input>	
	</body>
</html>
			
