<!DOCTYPE HTMl>
<html>
	<head>
		<script src="/vendor/javascripts/jQuery-2.0.3.js"></script>
		<script src="/javascripts/PlaylistController.js"></script>	
		<script src="/socket.io/socket.io.js"></script>	
	</head>
	<body>
		<input type="hidden" id="name-div" value="<%=name%>"/>
		<input type="hidden" id="client-div" value="<%=client%>"/>
		<input type="hidden" id="host-div" value="<%=host%>"/>
		<input type="hidden" id="port-div" value="<%=port%>"/>
		<div id="videos"></div>
	</body>
</html>
			
