<!DOCTYPE HTMl>
<html>
	<head>
		<script src="/javascripts/playlist.js"></script>	
		<script src="/socket.io/socket.io.js"></script>	
	</head>
	<body>
	<h2><%= name %></h2>
	<h2><%= client %></h2>
	<h1><%= playlist %></h1>
	<div id="content"><% name %></div>
		<input type="input" id="input"></input>	
		<input type="button" id="send"></input>	
	</body>
</html>
			
