@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../home/oted/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../home/oted/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../home/oted/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../home/oted/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../home/oted/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../home/oted/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../home/oted/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../home/oted/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../home/oted/.rvm/gems/ruby-2.0.0-p247@railstutorial_rails_4_0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/** ======================================== **/
/**             Base Style                   **/
/** ======================================== **/
/* line 13, ../../sass/partials/_base.scss */
body {
  background: #262626;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #f3f3f3;
}

/* line 19, ../../sass/partials/_base.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 23, ../../sass/partials/_base.scss */
h1 {
  font-size: 60px;
}

/* line 26, ../../sass/partials/_base.scss */
h2 {
  font-size: 50px;
}

/* line 29, ../../sass/partials/_base.scss */
.hidden {
  display: none;
}

/* line 33, ../../sass/partials/_base.scss */
.text-center {
  text-align: center;
}

/* line 37, ../../sass/partials/_base.scss */
.block {
  display: block;
}

/* line 41, ../../sass/partials/_base.scss */
a {
  text-decoration: none;
  color: #262626;
}
/* line 45, ../../sass/partials/_base.scss */
a:hover {
  color: #404040;
  text-decoration: none;
}

/* line 51, ../../sass/partials/_base.scss */
.icon-button {
  text-align: center;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: 0.2s;
  -moz-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #115980;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  cursor: pointer;
}
/* line 59, ../../sass/partials/_base.scss */
.icon-button:hover {
  background: #1d98da;
}
/* line 62, ../../sass/partials/_base.scss */
.icon-button.active {
  background: #1d98da;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8) inset;
}

/* line 70, ../../sass/partials/_base.scss */
input {
  border: 0;
}

/* line 1, ../../sass/partials/_global-components.scss */
#main-wrapper {
  margin-bottom: 56px;
}
/* line 3, ../../sass/partials/_global-components.scss */
#main-wrapper #inner-wrapper {
  overflow: hidden;
  *zoom: 1;
}

/* line 7, ../../sass/partials/_global-components.scss */
.fixed-top {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  background: #262626;
}

/* line 15, ../../sass/partials/_global-components.scss */
#main-header {
  overflow: hidden;
  *zoom: 1;
  padding: 50px 0;
  margin-bottom: 20px;
}

/* line 21, ../../sass/partials/_global-components.scss */
#message-board {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: rgba(255, 255, 255, 0.8);
  color: #262626;
}

/* line 30, ../../sass/partials/_global-components.scss */
#main-content {
  margin-top: 180px;
}

/* fontawesome */
/* line 5, ../../sass/partials/_icons.scss */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* line 1, ../../sass/partials/_sidebar.scss */
#overlay-sidebar, #main-sidebar {
  position: fixed;
}
/* line 3, ../../sass/partials/_sidebar.scss */
#overlay-sidebar .sidebar-component, #main-sidebar .sidebar-component {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 20px;
}
/* line 8, ../../sass/partials/_sidebar.scss */
#overlay-sidebar .search-field, #main-sidebar .search-field {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background: #F3F3F3;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  height: 40px;
  padding-left: 5px;
  margin: 2px;
}
/* line 19, ../../sass/partials/_sidebar.scss */
#overlay-sidebar #player-container iframe, #main-sidebar #player-container iframe {
  width: 100%;
  margin-bottom: 3px;
}
/* line 25, ../../sass/partials/_sidebar.scss */
#overlay-sidebar .playback-ctrl-wrap, #main-sidebar .playback-ctrl-wrap {
  width: 16.66667%;
  display: block;
  float: left;
}
/* line 29, ../../sass/partials/_sidebar.scss */
#overlay-sidebar .playback-ctrl-wrap .playback-ctrl, #main-sidebar .playback-ctrl-wrap .playback-ctrl {
  display: block;
  margin: 0 2px;
}

/*::-webkit-scrollbar {*/
/*width: 12px;*/
/*}*/
/*::-webkit-scrollbar-track {*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
/*border-radius: 10px;*/
/*}*/
/*::-webkit-scrollbar-thumb {*/
/*border-radius: 10px;*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
/*} */
/* line 16, ../../sass/partials/_main-area.scss */
.video, .list-item {
  display: block;
  padding: 10px 5px;
  overflow: hidden;
  *zoom: 1;
  background: #5E5E5E;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  margin-bottom: 7px;
}
/* line 23, ../../sass/partials/_main-area.scss */
.video *, .list-item * {
  float: left;
  line-height: 25px;
}
/* line 27, ../../sass/partials/_main-area.scss */
.video .title, .list-item .title {
  padding-left: 15px;
}

/* line 32, ../../sass/partials/_main-area.scss */
.search-result {
  -webkit-transition: background linear;
  -webkit-transition-delay: 0.1s;
  -moz-transition: background linear 0.1s;
  -o-transition: background linear 0.1s;
  transition: background linear 0.1s;
  background: #f3f3f3;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 5px;
  cursor: pointer;
}
/* line 42, ../../sass/partials/_main-area.scss */
.search-result .thumbnail {
  height: 50px;
  background: silver;
}
/* line 47, ../../sass/partials/_main-area.scss */
.search-result .title {
  color: #115980;
  font-family: "Arial Black", "Helvetica Bold", sans-serif;
}
/* line 52, ../../sass/partials/_main-area.scss */
.search-result:hover {
  background: #9ed5f2;
}

/* line 1, ../../sass/partials/_overlay.scss */
#overlay-wrapper {
  display: none;
  position: fixed;
  top: 10%;
  left: 22%;
  right: 22%;
  height: 75%;
  width: 66%;
  z-index: 30;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
}

/* line 15, ../../sass/partials/_overlay.scss */
#overlay-inner-wrapper {
  margin: 10px;
}

/* line 19, ../../sass/partials/_overlay.scss */
#overlay-search-results {
  margin: 10px 10px 10px 420px;
}

/* line 23, ../../sass/partials/_overlay.scss */
.overlay-search-result {
  -webkit-transition: background linear;
  -webkit-transition-delay: 0.1s;
  -moz-transition: background linear 0.1s;
  -o-transition: background linear 0.1s;
  transition: background linear 0.1s;
  background: #f3f3f3;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 5px;
  cursor: pointer;
}
/* line 33, ../../sass/partials/_overlay.scss */
.overlay-search-result .thumbnail {
  height: 50px;
  background: silver;
}
/* line 38, ../../sass/partials/_overlay.scss */
.overlay-search-result .title {
  color: #115980;
  font-family: "Arial Black", "Helvetica Bold", sans-serif;
}
/* line 43, ../../sass/partials/_overlay.scss */
.overlay-search-result:hover {
  background: #9ed5f2;
}
