html{
	padding-bottom:200px;
	margin-bottom:200px;
	height: 100%;
}

body{
	padding: 3px;
	height : 100%;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	background: #262626;
}

h3{
	color: #F3F3F3; 
	font-size: 14px;
}

#wrapper{
	min-height : 100%;
	height : auto;
	height : 100%;
}

#search-fields{
	padding: 2px;
	width:100%;
}

#player-actions{
	padding: 2px;
	display: inline-block;
	position: fixed;
	bottom: 0;
	width : 960px;
	background: #F3F3F3;
}

.search-field{
  	border-radius: 2px;
	background: #F3F3F3;
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 14px;
	border: none;
	outline: none;
	padding: 5px;
}

#search-results{
	padding-bottom:260px; 
}

#player-container{
	margin: auto;
}

.video{
	background: #5E5E5E;
	margin: 1px;
	border:2px solid;
	border-radius: 12px;
}

.next-prev{
	height: 40px;
	width: 40px;
}

.title{
	margin-left:20px;
	cursor: pointer;
	display: inline-block;
}

.add{
	top:10px;
	position: relative;
	float: right;
	margin-right: 15px;
}

#prev{
	float: left;
}

#next{
	float: right;
}

#previous{
	float: left;
}

#search{
	display: block;
}

#attach-playlist{
	display: block;
	float: right;
}

#create-playlist{
	float: right;	
}

#attached-playlist{
	float: right;
}

.playlist-handlers{
	font-family: "arial", "Helvetica", sans-serif;
	display: block;
}
