#main-wrapper {
  margin-bottom: 56px;
  #inner-wrapper {
    @include clearfix;
  }
}

.fixed-top {
  position: fixed;
  width:100%;
  left:0;
  top:0;
  z-index: 10;
  background: $black-color;
}

#main-header {
  @include clearfix;
  padding: 50px 0;
}

#message-board {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: $white-color;
  color: $black-color; 
}

#navigation-board {
  @include clearfix;
  position: fixed;
  top: 0;
  z-index: 20;
  padding: 10px 0;
  background: $white-color;
  color: $black-color; 
  #empty-queue{
	padding:0px 6px;
	margin-left:3px;
 	float:left;
  }
}

.search-field {
    @include border-radius(2px);
    background: $white-color;
    font-family: $font-family-light;
    font-size: 18px;
    height: 40px;
  	padding-left: 5px;
	margin: 2px; 
}

#queue-toggle{
	border-top: solid $black-color;
	border-top-width:10px;
	max-height: 82px;
	margin-top: 20px;
  	  .preview{
		margin-top:2px;
		display:inline-block;
	  }
}

.remove{
	margin-right:100%;
	float:left;	
}

#create-new-playlist-div{
	@include box-shadow(0 15px 25px rgba(0,0,0.4,0.7));
	padding:3px;
	padding-top:10px;
	@include clearfix;
 	margin-top:30px;
	margin-bottom:20px;
	background-color:$black-color;
}

#main-content {
  margin-top: 180px;
}
