#main-wrapper {
  margin-bottom: 56px;
  #inner-wrapper {
    @include clearfix;
  }
}
.fixed-top {
  position: fixed;
  width:100%;
  left:0;
  top:0;
  z-index: 10;
  background: $black-color;
}

#main-header {
  @include clearfix;
  padding: 50px 0;
}

#message-board {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: #FCFCFC;
  color: $black-color; 
}

#navigation-board {
  position: fixed;
  top: 0;
  z-index: 20;
  padding: 10px 0;
  background: #FCFCFC;
  color: $black-color; 
    @include border-radius(3px);
}


#main-content {
  margin-top: 180px;
}
