// a few webkit-only hacks to make a neat scrollbar..
::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $blue-color; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.list-item {
	display:block;
	padding: 10px 5px;
    @include clearfix;
    background: $white-color;
    @include border-radius(3px);
    margin-bottom: 7px;
	display:-webkit-flex;
	* {
      line-height: 20px;
    }
}

#video-list {
  margin-bottom:65px;
  cursor: pointer;
}

