// a few webkit-only hacks to make a neat scrollbar..
::-webkit-scrollbar {
  width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $blue-color; 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.list-item {
	display:block;
	padding: 10px 5px;
    @include clearfix;
    background: #FCFCFC;
    @include border-radius(3px);
    margin-bottom: 7px;
	display:-webkit-flex;
	
	* {
      line-height: 20px;
    }
}


.video{
	display:block;
	padding: 10px 5px;
    @include clearfix;
    background: #5E5E5E;
    @include border-radius(3px);
    margin-bottom: 7px;
	display:-webkit-flex;
	
	* {
      line-height: 15px;
    }

    .title {
	  cursor:pointer;
      padding-left: 20px;
    }

	.subtitle{
		float:right;
		width:120px;
	}
}

.thumb{
	float:bottom;
}

#video-list {
  margin-bottom:65px;
  cursor: pointer;
}

