#overlay-background {
  display: none;
  position: fixed;
  overflow: auto;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right:0px;
  background: #eee;
  opacity: 0.5;
  z-index: 20;
  cursor: pointer;
}

$overlay-width: 920px;
$overlay-height: 420px;
#overlay-wrapper {
  display:none;
  background: $black-color;
  position: fixed;
  width: $overlay-width;
  height: $overlay-height;
  left: 50%;
  margin-left: -$overlay-width/2;
  top: 50%;
  margin-top: -$overlay-height/2;
  z-index: 30;
  @include border-radius(2px);
  @include box-shadow(0 2px 4px rgba(0,0,0,0.8));
  padding: 10px;
}

#overlay-inner-wrapper{
  margin:10px;
}

#overlay-search-results {
 margin-left: 300px; 
}

.overlay-search-result {
  @include transition(background linear 0.1s);

  background: $white-color;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 5px;
  cursor: pointer;

  & .thumbnail {
    height: 50px;
    background: darken($white-color, 20%);
  }

  & .title {
    color: $blue-color;
    font-family: $font-family-heavy;
  }

  &:hover {
    background: lighten($blue-color, 50%);
  }
}
