#overlay-sidebar,#main-sidebar {
  position: fixed;
  .sidebar-component {
    @include clearfix;
    margin-bottom: 20px;
  }

  .search-field {
    @include border-radius(2px);
    background: #F3F3F3;
    font-family: $font-family-light;
    font-size: 18px;
    height: 40px;
  	padding-left: 5px;
	margin: 2px; 
  }

  #player-container {
    iframe {
      width: 100%;
      margin-bottom: 3px;
      margin-top: 3px;
    }
  }
  
  #create-new-playlist-div{
 	margin-top:30px;
	@include border-radius(2px);
    @include box-shadow(0 2px 4px rgba(0,0,0,0.8));
  }

  .playback-ctrl-wrap {
    width: 100/6 * 1%;
    display: block;
    float: left;
    .playback-ctrl {
      display: block;
      margin: 0 2px;
    }
  }
}
