#main-sidebar {
  position: fixed;
  .sidebar-component {
    @include clearfix;
    margin-bottom: 20px;
  }

  #player-container {
    iframe {
      width: 100%;
      margin-bottom: 3px;
      margin-top: 3px;
    }
  }
  
 .playback-ctrl-wrap {
    width: 100/6 * 1%;
    display: block;
    float: left;
    .playback-ctrl {
      display: block;
      margin: 0 2px;
    }
  }
}
