.video{
	display:block;
	padding: 10px 0px;
    @include clearfix;
    background: $grey-color;
    @include border-radius(3px);
    margin-bottom: 7px;
	* {
      line-height: 15px;
    }
	
	.toggle-video-options{
		height: 20px;
	}

    .title {
	  cursor:pointer;
    }

	.subtitle{
		float:right;
		width:120px;
	}

	.video-options{
  		@include border-radius(2px);
		padding:2px;
		background:$white-color;
	}
	
	.thumb{
		float:bottom;
	}
}
